*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

output.xml
*.xml
.idea

test_qubell_client
.DS_Store
.secure
.universe

# Idea project files
*.iml
*.ipr
*.iws
.idea/
test_qubell_client
contrib-cli-launcher
